/* fonts */
.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* navigation bar */
  
  .navbar{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f4c542;
    background-color: #6a4c93; 
  }
  .navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a:hover {
    color: #d8d2c4; 
}
  li{
    list-style: none;
    display:inline-block;
  }
  li a{
    color: white;
    font-weight: bold;
    margin-right: 25px;
    padding: 10px;
  }
  button {
    background-color: #f4c542;
    color: #4b3b47;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
  button:hover{
    background-color: #96109b;
    transform: translateY(0.3cm);
  }
  h1{
    font-family: "Righteous", sans-serif;
    font-weight: bold;
  }
/*Shop*/
.products {
  padding: 32px;
  background: #fff;
}

.products h3 {
  font-family: "Righteous", sans-serif;
  text-align: center;
  margin-bottom: 32px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
}

.product-card img {
  border-left: double;
  border-bottom: #96109b;
}

p{
  font-family:"Righteous", sans-serif; 
}




.form-container {
    width: 85%;
    max-width: 1100px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: "Righteous", sans-serif;
}
form input{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #6a4c93;
  border-radius: 5px;
  font-family: "Righteous", sans-serif;
}
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #6a4c93;
  border-radius: 5px;
}
form select{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #6a4c93;
  border-radius: 5px;
}

h2 {
    color: #6a4c93;
    border-bottom: 2px solid #f4c542;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: "Righteous", sans-serif;
}




.product {
    border: 2px solid #6a4c93;
    padding: 15px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 8px;
}

/* Footer */

footer {
    background-color: #6a4c93;
    color: #f4c542;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
